<form method="GET" action="/spotify/v1/login">
    <div>
        <h3 style="font-size:3rem; text-align: center; color: white">
            Please Sign In</h3>
        <p style="font-size:1rem; text-align: center; color: white">
            To search for an artist, track, or album you will need to sign in to your account</p>
        <input style="display: block;
            width: 15%;
            padding: 1rem;margin:0 auto;
            background: #1DB954;
            color: #fff;
            border-radius: 0;
            font-weight: 900;"
            type="submit" value="Login" />
    </div>
</form>