<form method="GET" action="/spotify/v1/search">
    <div>
        <label for="name">search:</label>
        <input type="text" name="q" id="q" value="" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>