<footer style="padding-top: 40%" >
    <p style="background-color: #1DB954; 
            padding-top: 1%;   
            display: flex; 
            gap: 10px; 
            height: 2.25rem;
            font-size: 1rem"> Copyright &copy; 2022</p>
</footer> 