<header style="background-color: #1DB954; 
            padding: 1%;   
            display: flex; 
            gap: 10px; 
            height: 2.25rem;
            font-size: 1rem;
            justify-content: center;">
    <p style="color: white"> Search:</p>
    <input type="text" id="search" name="search">
</header>